.Message {
    width: 60%;
    margin: 10px auto;
}
.Message-information-block-main {
    padding: 10px;
}
.Message-information-block {
    display: inline-block;
}
.Message-username {
    color: #7d42fc;
    font-weight: bold;
    font-size: 18px;
}
.Message-date {
    margin-left: 5px;
    color: grey;
    font-size: 14px;
}
.Message-text-block {
    padding: 10px;
}
.Message-text {

}

.Message-avatar-img {
    height: 35px;
    width: 35px;
    border-radius: 25px;
}