.settings-block {
    width: 60%;
    margin: auto;
    margin-top: 10%;
}
.settings-back-link {
    margin-top: 200px;
    font-size: 18px;
}
.settings-change-avatar-input-block {
    margin-top: 50px;
}